extends layout
block body 
  h1.header
    b About Us
  .about-main
    img(src='wallpaperflare.com_wallpaper.jpg' alt='' style='opacity:0.4; height: 100%;width:100%;')
    .top-left
      h1 TIRED OF SEARCHING A GOOD MAID?
    .top-right
      h1 Want to advertise yourself?
    .center
      h2 CUSTOME MAID
      p
        b
          | is a platform which created to connect between maids for every type of work. The platform give you the opportunity to find the right maid for your home or business and save you time and frustration.
    .buttom
      h2 so what are you waiting for? Let&apos;s start to work.
