extends layout
block body 

  h1.header
    b LET US CLEAN YOUR MIND
  .main
    a(href='Search')
      button.home-button(onclick='')
        span
          b FIND A MAID 
    a(href='sign-up-maid')
      button.home-button
        span
          b CREATE YOUR BUEISNESS PROFILE
